
body {
    background-color: rgb(255, 188, 215);
    font-family: Georgia;
    color: black;
    margin: 0px;

    main {

        text-align: center;

        /* TO DO PAGE */
        .mainheader{
            font-size: 5rem;
            font-weight: 600;
            color: red;
            letter-spacing: 3.5px;
        }

        .todoform {
            margin-bottom: 40px;
            
            .todo-headerandinput {
                margin-top: 10px;
            }

            .todoheader {
                font-size: 1.5rem;
                font-weight: 600;
                color: red;
                letter-spacing: 3px;
            }

            .todoinput {
                width: 300px;
                height: 30px;
                padding: 1px 5px 1px 5px;
                border: none;
                border-radius: 50px;
            }

            .addtodobutton {
                background-color: rgba(255, 255, 255, 0.445);
                width: 70px;
                border: none;
                border-radius: 25px;
                padding: 10px;
                margin-top: 10px;
                font-family: Georgia;
                font-weight: 600;
                text-transform: uppercase;
                color: red;

                    &:hover {
                        letter-spacing: 3px;
                        transition-duration: 0.5s;
                    }
                }
        }

        .tododiv{
            min-height: 100px;
            max-width: 500px;
            padding: 30px 0px 0px 0px;
            border: none;
            border-radius: 50px;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.445);
            margin: auto;
            margin-top: 20px;

            .added-priority, .added-todo, .added-date {
                font-size: 1.5rem;
                
                span {
                color: red;
                font-weight: 600;
                }           
            }
            
            .added-date {
                font-size: 0.8rem;
                margin-top: 5px;
            }

            .todo-buttons {
                padding-top: 10px;

                .edit-button, .delete-button {
                    margin: 5px;
                    
                    a {
                        font-family: Georgia;
                        color: black;
                        font-size: 0.9rem;
                        font-weight: 600;
                        
                        &:hover {
                            color: rgb(252, 48, 48);
                        }
                    }
                }
            }
        }

        /* EDIT PAGE */
        .edit-form {

            .editinput {
                width: 300px;
                height: 30px;
                padding: 1px 5px 1px 5px;
                border: none;
                border-radius: 50px;
            }

            .updatebutton {
                display: block;
                margin: auto;
                background-color: rgba(255, 255, 255, 0.445);
                border: none;
                border-radius: 25px;
                padding: 10px;
                margin-top: 70px;
                font-family: Georgia;
                font-weight: 600;
                text-transform: uppercase;
                color: red;
            }

            font-size: 1.5rem;
            font-weight: 600;
            color: red;
            letter-spacing: 3.5px;
            margin-top: 50px;
        }


    }
    /* FOOTER */
    footer {
        .footer-date {
            padding: 10px 0px 5px 0px;
        }

        .footer-name {
            padding: 0px 0px 10px 0px;
        }

        width: 100%;
        background-color: rgb(252, 212, 228);
        margin-top: 100px;
        text-align: center;
        font-size: 0.8rem;
        font-weight: 900;
        color: red;
    }
}