<%- include ("header.ejs") %>

<main>
    <div class="edit-form">
        <form action="/update/:id" method="post">

            <span class="edit-todo">To do:</span>
            <input type="text" name="text" value="<%=response.text%>">
            
            <span class="edit-todo">Priority:</span>
            <input type="text" name="prio" value="<%=response.prio%>">

            <input type="text" name="id" value="<%=response._id%>" hidden>
            <button type="submit">Update</button>

        </form>
    </div>
</main>
</body>
</html>